.min-vh-100 {
    min-height: 100vh;
}

.logo-img {
    width: 250px; /* Ajusta el tamaño del logo */
    height: auto;
}

.register-button {
    width: 100%;
    background-color: #00a1e1;
    border: none;
    border-radius: 20px;
}

.register-button:hover {
    background-color: #007bb5;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.no-shadow {
    border: 0px;
}

.input {
    border-radius: 20px;
    background-color: rgb(169, 169, 169);
}

.center-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

