.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

button {
    background-color: lightgray;
}

body.dark-mode {
    background-color: #121212; 
    color: white; 
}

body.dark-mode button {
    background-color: #333; 
    color: white;
}