.modal-header-custom {
    background-color: #474747;
    color: #ffffff;
    border: none;
    text-align: center;
}


.modal-body-custom {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.modal-footer-custom {
    background-color: #000;
    border: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.confirm-button {
    background-color: #ffc107;
    border: none;
    border-radius: 10px;
    color: #000;
    padding: 8px 16px;
    font-weight: bold;
}

.cancel-button {
    color: #ff0000;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    
}