.form-container {
    width: 75%;
    margin: 0 auto;
    border-radius: '8px';
}

.addproduct-form-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-custom {
    color: black;
    border-radius: 4px;
    background-color: lightgray;
}

.confirm-button {
    background-color: #28a745;
    color: white;
    border: none;
}

.modal-addproduct {
    color: white;
}