.navbar {
    background-color: lightskyblue;
}

.barra-busqueda {
    max-width: 600px;  
    width: 1500px; 
    margin-left: 0;
}
.barra-busqueda .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 12px;
    transition: background-color 0.3s ease;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.search-button svg {
    width: 20px; 
    height: 20px;
}

.search-button:hover {
    background-color: #e0e0e0; 
}

.container {
    max-width: 2000px; 
    margin: 10px auto;
}

.nombre-logo {
    flex: 1;
}
.nombre-logo:hover {
    cursor: pointer;
}

.logo-img {
    width: 120px;
}