.card-container {
    width: 12rem;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%; 
    height: 150px;
    object-fit: contain; 
    border-bottom: 1px solid #eee;
}