/* .login-button, .register-button {
    background-color: rgb(0, 119, 255);
    border-color: rgb(0, 119, 255);
    color: white;
}
 */
.min-vh-100 {
    min-height: 100vh;
}

.logo-img {
    width: 250px; /* Ajusta el tamaño del logo */
    height: auto;
}

.btn-login {
    background-color: #00a1e1;
    border: none;
    border-radius: 20px;
}

.btn-login:hover {
    background-color: #007bb5;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.no-shadow {
    border: 0px;
}

.input {
    border-radius: 20px;
    background-color: rgb(169, 169, 169);
}

.dark-mode-toggle {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}