.table td,
.table th {
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card {
    border: none;
    border-radius: 8px;
}

.trash-button svg {
    width: 23px; 
    height: 23px;
    color: gray;
    transition: color 0.2s ease;
}

.trash-button svg:hover {
    color: red;
}